.contact-us
{
    height: 100%;
    width: 100%;
    background-image: url(../img/logo/Atorn_background-contact.jpeg);
    background-position: center;
    object-fit: cover;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.contact-bg-overlay-text
{
    color: white;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
}

.forms img
{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    /* border: 0.7px solid white; */
    /* background-color: blue; */
}




input 
{
    height: 50px;
    width: 70%;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
}

.contact-form
{
    display: inline-block;
    padding-top: 20px;
    align-self: center;
}

.contact-form img
{
    height: 50px;
    width: 50px;
    display: block;
}

.forms
{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
}