.socialmedia2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.facebook2,
.twitter2,
.instagram2 {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  border: 1px solid #c82424;
  border-width: 1px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.facebook2 img,
.twitter2 img,
.instagram2 img {
  filter: invert(40%) sepia(100%) saturate(688%) hue-rotate(343deg) brightness(103%) contrast(103%);
}