footer {
    background: #0F3041;
}

.footers {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}


.footer-content p {
    color: #FFF;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}

.facebook3,
.twitter3,
.instagram3 {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    /* border: 1px solid #c82424; */
    border-width: 1px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.facebook3 img,
.twitter3 img,
.instagram3 img {
    filter: invert(16%) sepia(54%) saturate(3694%) hue-rotate(345deg) brightness(118%) contrast(97%);
}

.footer-qlinks {
    /* padding-bottom: 40px; */
}

.footer-qlinks p {
    color: #FFF;
    font-family: Merriweather;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 2px solid #c82424;
    width: 55px;
    text-wrap: nowrap;
    border-width: 2.5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.footer-qlinks li {
    color: #FFF;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
}

.footer-qlinks a {
    text-decoration: none;
    color: white;
    list-style: none;
}

.footer-services p {
    color: #FFF;
    font-family: Merriweather;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 2px solid #c82424;
    width: 55px;
    text-wrap: nowrap;
    border-width: 2.5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.footer-services li {
    color: #FFF;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
}

.footer-contact-info p {
    color: #FFF;
    font-family: Merriweather;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 2px solid #c82424;
    width: 55px;
    text-wrap: nowrap;
    border-width: 2.5px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.footer-contact-info-list {
    display: flex;
    padding-bottom: 10px;
}


.footer-contact-info img {
    filter: invert(99%) sepia(6%) saturate(2%) hue-rotate(266deg) brightness(118%) contrast(100%);
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

.footer-contact-info li {
    color: #FFF;
    font-family: Merriweather;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
}

.footer-qlinks,
.footer-services,
.footer-contact-info {
    padding-bottom: 30px;
}

.end-note {
    border-top: 0.6px solid #F9F9F9;
    background: #0F3041;
}

.end-note p {
    color: #FFF;
    font-family: Merriweather;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px;
    text-align: center;
}