.hero {
    position: relative;
    height: 482px;
    background-image: url('../img/logo/Atorn_background.jpeg');
    background-size: cover;
    background-position: center;
    width: 100vw;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    gap: 20px;
}

.hero-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    width: 100vw;
}

.hero-content-p1 {
    font-size: 12px;
    padding: 5px 0px;
    font-family: Merriweather;
    font-weight: 400;
    border-bottom: 2px solid #c82424;
    width: 55px;
    text-wrap: nowrap;
    border-width: 2.5px;
    padding-bottom: 10px;
    padding-top: 40px;
}

.hero-content-h1 {
    font-weight: 700;
    font-size: 26px;
}

.hero-content-p2 {
    font-weight: 400;
    font-size: 12px;
    width: 100%;
    padding-right: 32px;
}

.hero-buttons button {
    margin-top: 50px;
    height: 38px;
    margin-right: 20px;
    color: white;
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
}

.button-consulting {
    background-color: #c82424;
    border-color: #c82424;
    width: 124px;
}

.button-learn-more {
    background-color: rgba(0, 0, 0, 0.0);
    border-color: rgba(255, 255, 255, 0.5);
    width: 108px;
}