.founder-message {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    max-width: 100%;
    height: 100%;
    background-color: #c82424;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    gap: 20px;
    border-radius: 5px;
}

.founder-message h1 {
    padding-top: 30px;
    font-size: 20px;
    font-weight: 700;
}

.founder-message p {
    font-size: 14px;
    color: #f4d3d5;
    text-align: justify;
}

.founder-message img {
    width: 96px;
    height: 39px;
}

.founder-message h2 {
    font-size: 14px;
    font-weight: 700;
}

.founder-message h3 {
    font-size: 14px;
    font-weight: 400;
}

.container {
    margin-left: 20px;
    margin-right: 40px;
    height: 100%;
}

.video {
    position: relative;
    width: 93%;
    height: 0;
    padding-bottom: 56.25%;
    margin: 20px;
}

.video-bg {
    background-image: url(../Project-C5-Group3/img/logo/video-bg.jpg);
    background-position: center;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-bg-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-bg-overlay-play {
    position: relative;
}

.play2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}